Source: haskell-mono-traversable
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends: debhelper (>= 10),
 haskell-devscripts (>= 0.13),
 cdbs,
 ghc (>= 8.4.3),
 ghc-prof,
 libghc-hashable-dev,
 libghc-hashable-prof,
 libghc-semigroups-dev (>= 0.10),
 libghc-semigroups-prof,
 libghc-split-dev (>= 0.2),
 libghc-split-prof,
 libghc-unordered-containers-dev (>= 0.2),
 libghc-unordered-containers-prof,
 libghc-vector-dev (>= 0.10),
 libghc-vector-prof,
 libghc-vector-algorithms-dev (>= 0.6),
 libghc-vector-algorithms-prof,
 libghc-hunit-dev,
 libghc-quickcheck2-dev,
 libghc-foldl-dev,
 libghc-hspec-dev,
 libghc-hspec-prof,
 libghc-unordered-containers-dev,
 libghc-vector-dev,
Build-Depends-Indep: ghc-doc,
 libghc-hashable-doc,
 libghc-semigroups-doc,
 libghc-split-doc,
 libghc-unordered-containers-doc,
 libghc-vector-doc,
 libghc-vector-algorithms-doc,
Standards-Version: 4.6.1
Homepage: https://github.com/snoyberg/mono-traversable
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-mono-traversable
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-mono-traversable]
X-Description: typeclasses for mapping/folding/traversing monomorphic containers
 Monomorphic variants of the Functor, Foldable, and Traversable
 typeclasses. Contains even more experimental code for abstracting
 containers and sequences.

Package: libghc-mono-traversable-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-mono-traversable-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-mono-traversable-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
 ${haskell:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
